.serif{
    font-family: serif;
    font-style: italic;
}

input.quantity{
    margin:0 !important;
    padding: 0 !important;
}

@-webkit-keyframes flashin{
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.flash{
    -webkit-animation-duration: 0.5s ;
    -webkit-animation-name: flashin ;
}

